  <div class="postCont">
  <div class="pic">
  <img src="https://www.example.com/image" alt="profile-picture"></div>
   <div class='userCard'>
    <h2><%= @user.name %></h2>
    <h3>Number of posts: <%= @posts.length %></h3>
   </div>
  </div>

 <div class='bio'>
  <h2>Bio:</h2>
  <p>
    <%= @user.bio %>
  </p>
 </div> 

  <% @last.includes(:comments, :likes).each do |post| %>
  <div class='post'>
  <%= link_to user_post_path(@user.id, post.id) do %>
  <h2><%= post.title %></h2>
  <p>
    <%= post.text %>
  </p>
  <h3>
    Comments: <%= post.comments.length %> 
    Likes: <%= post.likes.length %> </h3>
    <% end %>
  </div>
  <% end %> 

<div id="post-recent">
<%= button_to "See all posts", user_posts_path(@user_id), method: :get %>
</div>