    <div class="postCont">
      <div class="pic"></div>
       <div class='userCard'>
        <h2><%= @user.name %></h2>
        <h3>Number of posts:  <%= @posts.length %> </h3>
       </div>
    </div>

  <% @posts.each do |post| %>
  <div class='post'>
  <h2><%= post.title %></h2>
  <p>
    <%= post.text %>
  </p>
  <h3>
    Comments: <%= post.comments.length %> 
    Likes: <%= post.likes.length %> 
  </h3>

  <% post.comments.each do |com| %>  
  <div class='comment'>
    <strong><%= User.find(com.user_id).name %></strong>
    <p><%= com.text %></p>
  </div>
  <% end %>

  </div>

  <% end %>
  

  <button>
    Pagination
  </button>
</html>
