    <div class="postCont">
      <div class="pic"><img src="https://www.example.com/image" alt="profile-picture"></div>
       <div class='userCard'>
        <h2><%= @user.name %></h2>
        <h3>Number of posts:  <%= @posts.length %> </h3>
       </div>
    </div>

  <% @posts.includes(:comments, :likes).each do |post| %>
  <div class='post'>
  <%= link_to user_post_path(@user.id, post.id) do %>
  <h2><%= post.title %></h2>
  <% end %>
  <p>
    <%= post.text %>
  </p>
  <h3>
    Comments: <%= post.comments.length %> 
    Likes: <%= post.likes.length %> 
  </h3>

  <% post.last_5_comments.each do |com| %>  
  <div class='comment'>
    <strong><%= User.find(com.user_id).name %></strong>
    <p><%= com.text %></p>
  </div>
  <% end %>

  </div>
  
  <form action="/likes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="like[post_id]" value="<%= post.id %>">
    <input type="submit" value="Like">
  </form>

  <% end %>
  
  <button>
    Pagination
  </button>
</html>
