  <div class='post'>
  <h2> Recent post by <%= @user.name %></h2>

  <strong><code> <%= @post.title %></code></strong>
  <p>
      <%= @post.text %>
  </p>
  <h3>
    Comments: <%= @post.comments.length %> 
    Likes: <%= @post.likes.length %> 
  </h3>
  </div>
  
  <% @post.comments.each do |com| %>  
  <div class='comment'>
    <strong><%= User.find(com.user_id).name %></strong>
    <p><%= com.text %></p>
  </div>
  <% end %>

  </div>

</html>
