  <div class='post'>
  <h2> Recent post by <%= @user.name %></h2>

  <strong><code> <%= @post.title %></code></strong>
  <p>
      <%= @post.text %>
  </p>
  <h3>
    Comments: <%= @post.comments.length %> 
    Likes: <%= @post.likes.length %> 
  </h3>
  <% if can? :delete, @post %>
    <%= button_to 'Delete', user_post_path, method: :delete, data: {turbo: false} %>
  <% end %>
  </div>
  
  <% @post.comments.each do |com| %>  
  <div class='comment'>
    <strong><%= User.find(com.user_id).name %></strong>
    <p><%= com.text %></p>
  </div>
  <% end %>

  </div>

  <strong><%= link_to 'Add a comment', new_comment_path %></strong>

  <% if flash[:error] %>
  <code> There was an error :( </code>
  <% end %>
</html>
